:root {
  --MainColor: #2196f3;
  --backgroundSecondary: #2f303a;
  --colorGrey: #757575;
  --colorWhite: #ffffff;
}

body {
  background-color: #e5e5e5;
  color: #212121;
  font-family: "Roboto", "Raleway", sans-serif;
}

.logo-recolor {
  color: #2196f3;
}

.header-2:hover,
.header-2:focus,
.footer-2:hover,
.contact-header {
  color: var(--MainColor);
}

.header-1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.516;
  letter-spacing: 0.02em;
  color: #212121;
}

.link-no-underline {
  text-decoration: none;
}

.list-none-style {
  list-style: none;
}

.button {
  background: #f5f4fa;
  width: 121px;
  height: 38px;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  font-family: "Roboto";
}

.button:focus {
  background: var(--MainColor);
  color: #ffffff;
}

.button:hover {
  background: var(--MainColor);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-service {
  width: 200px;
  height: 50px;
  background: var(--MainColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.description-product-card {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.161;
  letter-spacing: 0.06em;
  color: #212121;
}

.description-product-card-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.968;
  letter-spacing: 0.03em;
  color: #757575;
}

.product-card {
  border: 1px solid #eeeeee;
}

.mail-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 0.733;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.main-section {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: var(--backgroundSecondary);
}

.paragraph-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.paragraph-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.secondary-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #212121;
}

.person-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #0c0b0b;
}

.person {
  background-color: #f5f4fa;
}

footer {
  background-color: var(--backgroundSecondary);
  width: 1600px;
  height: 252px;
}

.footer-1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  color: var(--colorWhite);
  letter-spacing: 0.03em;
}

.contact-header {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--colorGrey);
}
.contact-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.714;
  color: var(--colorWhite);
}
