:root {
  --hover-color: #2196f3;
}

.button {
  background: #f5f4fa;
  width: 121px;
  height: 38px;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
}

.button:focus {
  background: var(--hover-color);
  border-radius: 12px;
  color: #ffffff;
}

.button:hover {
  background: var(--hover-color);
  color: #ffffff;
}

.description-product-card {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.161em;
  letter-spacing: 0.06em;
  color: #212121;
}

.description-product-card-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.968em;
  letter-spacing: 0.03em;
  color: #757575;
}

.product-card {
  background: #ffffff;
  border: 1px solid #eeeeee;
}

header a:hover {
  color: var(--hover-color);
}

.header-1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1em
  letter-spacing: 0.03em;
}

.header-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.516em;
  letter-spacing: 0.02em;
  color: #212121;
}

.link-no-underline {
  text-decoration: none;
}
