:root {
  --MainColor: #2196f3;
  --backgroundSecondary: #2f303a;
  --colorGrey: #757575;
  --colorWhite: #ffffff;
  --colorFill: #afb1b8;
  --gradient: rgba(47, 48, 58, 0.4);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

body {
  background-color: #e5e5e5;
  color: #212121;
  font-family: "Roboto", "Raleway", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.white {
  width: 100%;
  background: var(--colorWhite);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.box-header {
  display: flex;
  align-items: center;
  background: var(--colorWhite);
  margin: 0 auto;
  height: 80px;
}

header {
  width: 100%;
  background: var(--colorWhite);
  border: 1px solid #ececec;
}

.section {
  padding: 94px 0;
}

.list-header {
  display: flex;
  gap: 46px;
  padding-left: 93px;
}

.contact-list {
  display: flex;
  gap: 46px;
  margin-left: auto;
}

.svg-contact {
  fill: currentColor;
}

main {
  background-color: var(--colorWhite);
}

.main-section {
  height: 600px;
  max-width: 1600px;
  justify-content: center;
  background-image: linear-gradient(var(--gradient), var(--gradient)),
    url(../images/mainjpg.jpg);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.section-paragraph {
  width: 1170 px;
}

.svg-strength {
  background-color: #f5f4fa;
  height: 120px;
  width: 270px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-flex {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.logo-recolor {
  color: var(--MainColor);
}

.header-2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 0.516;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--duration) var(--cubic),
    transform var(--duration) var(--cubic);
}

.header-2:hover,
.active,
.header-2:focus,
.footer-2:hover,
.contact-footer:hover,
.contact-footer:focus {
  color: var(--MainColor);
}

.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  transform: translateY(29px);
  background-color: var(--MainColor);
  border-radius: 2px;
}

.no-active:hover::after,
.no-active:focus::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  transform: translateY(29px);
  background-color: var(--MainColor);
  border-radius: 2px;
}
.contact-header {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--colorGrey);
  transition: color var(--duration) var(--cubic);
}

.contact-header:hover,
.contact-header:focus {
  color: var(--MainColor);
}

.contact-headert:hover,
.contact-header:focus {
  --icon-color: currentColor;
}

.header-1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #000000;
}

.team-social {
  display: flex;
  gap: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 30px;
}

.team-social a {
  fill: var(--colorGrey);
  background-color: var(--colorWhite);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.team-social a:focus svg {
  background-color: var(--MainColor);
  fill: var(--colorWhite);
}

.svg-social {
  fill: rgba(175, 177, 184, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--cubic) var(--duration),
    fill var(--cubic) var(--duration);
}

.svg-social a:hover {
  fill: var(--colorFill);
  background-color: var(--colorWhite);
}

.svg-social:hover {
  background-color: var(--MainColor);
  fill: var(--colorWhite);
}

.svg-client {
  width: 170px;
  height: 92px;
  cursor: pointer;
  border: 1px solid var(--colorFill);
  border-radius: 4px;
  fill: var(--colorFill);
  transition: color var(--cubic) var(--duration),
    fill var(--cubic) var(--duration);
}

.svg-client:hover {
  fill: var(--MainColor);
  border: 1px solid var(--MainColor);
}

.list-customer a:focus svg {
  fill: var(--MainColor);
  border: 1px solid var(--MainColor);
}

.link-no-underline {
  text-decoration: none;
}

.list-none-style {
  list-style: none;
}

.button {
  background: #f5f4fa;
  width: 121px;
  height: 38px;
  border-radius: 4px;
  border: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  font-family: "Roboto";
  transition: background-color var(--cubic) var(--duration),
    color var(--cubic) var(--duration), box-shadow var(--cubic) var(--duration);
}

.button:focus {
  background: var(--MainColor);
  color: var(--colorWhite);
  border: 0;
}

.button:hover {
  background: var(--MainColor);
  color: var(--colorWhite);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-service {
  width: 200px;
  height: 50px;
  background: var(--MainColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--colorWhite);
  transition: background-color var(--cubic) 0.8s;
}

.button-service:hover,
.button-service:focus,
.btn-newsletter:hover,
.btn-newsletter:focus,
.submit:hover,
.submit:focus {
  background-color: var(--colorFill);
}

.description-product-card {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.161;
  letter-spacing: 0.06em;
  color: #212121;
  padding: 20px 24px 4px 24px;
  margin-top: 0;
}

.description-product-card-2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.968;
  letter-spacing: 0.03em;
  color: var(--colorGrey);
  padding: 0px 24px 20px 24px;
}

.border-card {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  margin: 0;
  padding: 0;
}

.product-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow var(--cubic) var(--duration);
}

.main-text {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 650px;
  text-align: center;
  color: var(--colorWhite);
}

.paragraph-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.paragraph-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--colorGrey);
}

.secondary-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  padding: 94px 0 15px 0;
  margin-top: 0;
}

.our-team-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-top: 0;
}

.list-doing {
  display: flex;
  gap: 30px;
}

.list-doing-li {
  position: relative;
}

.list-doing-li > img {
  display: block;
}

.list-doing-p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--colorWhite);
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}

.list-doing-li .list-doing-p {
  position: absolute;
  bottom: 0;
}

.person-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #0c0b0b;
  text-align: center;
}

.team > li > p {
  text-align: center;
}

.person {
  width: 100%;
  background: #f5f4fa;
}

.customer {
  width: 100%;
  background: var(--colorWhite);
}

.list-person,
.list-customer {
  display: flex;
  gap: 30px;
}

.team > li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--colorWhite);
  border-radius: 0px 0px 4px 4px;
}

footer {
  width: 100%;
  background-color: var(--backgroundSecondary);
  height: 252px;
  display: flex;
  gap: 30px;
  padding: 55.5px 0;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 0 51px 0;
}

.container-footer {
  display: flex;
  flex-direction: wrap;
  gap: 70px;
  align-items: flex-start;
}

.join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--colorWhite);
  margin-top: 10px;
}

.join-us-list {
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.svg-social-footer {
  fill: var(--colorWhite);
  background: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--cubic) var(--duration);
}

.svg-social-footer:hover {
  background: var(--MainColor);
}

.join-us-list a:focus svg {
  background: var(--MainColor);
}

.footer-1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  color: var(--colorWhite);
  letter-spacing: 0.03em;
}

.contact-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--cubic) var(--duration);
}

address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.714;
  color: var(--colorWhite);
  padding-top: 20px;
  transition: color var(--cubic) var(--duration);
}

.main-portfolio {
  padding: 94px 0;
  display: flex;
  background: var(--colorWhite);
}

.section-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding-bottom: 45px;
}

.list-product {
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0;
}

.list-product-active {
  position: absolute;
  width: 370px;
  overflow: hidden;
  transition-property: transform var(--cubic) var(--duration);
}

.list-product-active:hover .overlay {
  transform: translateY(0);
}

.overlay {
  background: rgba(33, 150, 243, 0.9);
  display: inline-block;
  height: 294px;
  width: 370px;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 49px 24px;
  transition: var(--duration) var(--cubic);
  transform: translateY(100%);
}

.overlay > p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--colorWhite);
}

.main-portfolio {
  padding: 94px 0;
  display: flex;
  background: var(--colorWhite);
}

.list-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.newsletter {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-sizing: border-box;
  background-color: var(--backgroundSecondary);
  color: var(--colorWhite);
  padding: 15px 16px;
  margin-right: 12px;
}

.div-newsletter {
  margin-left: 15px;
}

.btn-newsletter {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--MainColor);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 0 10px 42px;
  text-align: left;
  letter-spacing: 0.06em;
  color: var(--colorWhite);
  border: 0;
  position: relative;
  cursor: pointer;
  transition: background-color var(--cubic) 1s;
}

.svg-newsletter {
  fill: var(--colorWhite);
  position: absolute;
  left: 148px;
  bottom: 13px;
  transition: background-color var(--cubic) 1s, fill var(--cubic) 1s;
}

.btn-newsletter:hover svg,
.btn-newsletter:focus svg {
  fill: var(--MainColor);
}

.backdrop {
  position: fixed;
  width: 528px;
  height: 581px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(000, 000, 000, 0.2);
  opacity: 1;
  transition: opacity 0.5s linear, visibility 0.5s linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.5s linear, visibility 0.5s linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--colorWhite);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  align-items: center;
}

.modal svg {
  fill: #000000;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--colorWhite);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--duration) var(--cubic),
    transform var(--duration) var(--cubic);
}

.close-button:hover {
  background-color: var(--colorGrey);
  transform: scale(1.25);
}

.h2-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
  text-align: center;
}

.form-input {
  display: block;
  padding: 12px 0 12px 34px;
  width: 448px;
  height: 40px;
  margin-top: 4px;
  border-radius: 4px;
  border: rgba(33, 33, 33, 0.2) 1px solid;
  margin-bottom: 10px;
  transition: var(--duration) var(--cubic);
}

.form-input:hover,
.form-input:focus,
.form-input-comment:hover,
.form-input-comment:focus {
  border: rgba(33, 150, 243, 1) 1px solid;
  box-shadow: none;
  outline: none;
}

.p-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 0;
}

.form-input-comment {
  display: block;
  resize: none;
  padding-top: 4px;
  width: 448px;
  height: 120px;
  margin-top: 4px;
  border-radius: 4px;
  border: rgba(33, 33, 33, 0.2) 1px solid;
  transition: var(--duration) var(--cubic);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  margin-bottom: 20px;
}

.modal-icon-checked {
  border: 2px solid #212121;
  border-radius: 2px;
  fill: var(--colorWhite);
  margin-right: 8px;
}

.accept {
  position: relative;
  padding-left: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox:checked + .modal-icon-checked {
  background-color: var(--MainColor);
  border: none;
  background-image: url(../images/icons.svg/#icon-icon-check);
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.modal-icon {
  position: absolute;
  fill: #212121;
  left: 14px;
  bottom: 42px;
}

.label-modal:focus > .modal-icon,
.label-modal:hover > .modal-icon {
  fill: var(--MainColor);
}

.label-modal {
  position: relative;
}

.span-check {
  color: rgba(33, 150, 243, 1);
}

.submit {
  margin: 30px 124px 0px 124px;
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--colorWhite);
  border: 0;
  cursor: pointer;
  transition: background-color var(--cubic) 0.8s;
}
