.customer {
  width: 100%;
  background: var(--colorWhite);
  padding: 94px 0;
  &__svg {
    width: 170px;
    height: 92px;
    cursor: pointer;
    border: 1px solid $colorFill;
    border-radius: 4px;
    fill: $colorFill;
    transition: color $cubic $duration, fill $cubic $duration;
    &:hover {
      fill: $MainColor;
      border: 1px solid $MainColor;
    }
  }
  &__list {
    display: flex;
    gap: 30px;
    list-style: none;

    & a:focus svg {
      fill: $MainColor;
      border: 1px solid $MainColor;
    }
  }
  &__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-top: 0;
  }
}
