.customer {
  min-width: 240px;
  max-width: 1200px;
  margin: 0 auto;

  &__svg {
    min-width: 170px;
    max-width: 226px;
    height: 92px;
    cursor: pointer;
    border: 1px solid $colorFill;
    border-radius: 4px;
    fill: $colorFill;
    transition: color $cubic $duration, fill $cubic $duration;
    &:hover {
      fill: $MainColor;
      border: 1px solid $MainColor;
    }
  }
  &__list {
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;

    & a:focus svg {
      fill: $MainColor;
      border: 1px solid $MainColor;
    }
  }
  &__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-top: 0;
  }
}

@media screen and (min-width: 320px) {
  .customer {
    & .li {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}

@media screen and (min-width: 768px) {
  .customer {
    & .li {
      flex-basis: calc((100% - 60px) / 3);
    }
  }
}

@media screen and (min-width: 1200px) {
  .customer {
    &__list {
      flex-wrap: nowrap;
    }
  }
}
