.customer {
  width: 100%;
  background: var(--colorWhite);
  padding: 94px 0;
  &__svg {
    width: 170px;
    height: 92px;
    cursor: pointer;
    border: 1px solid var(--colorFill);
    border-radius: 4px;
    fill: var(--colorFill);
    transition: color var(--cubic) var(--duration),
      fill var(--cubic) var(--duration);
    &:hover {
      fill: var(--MainColor);
      border: 1px solid var(--MainColor);
    }
  }
  &__list {
    display: flex;
    gap: 30px;
    list-style: none;

    &__list a:focus svg {
      fill: var(--MainColor);
      border: 1px solid var(--MainColor);
    }
  }
  &__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-top: 0;
  }
}
