footer {
  width: 100%;
  background-color: $backgroundSecondary;
  min-height: 252px;
  display: flex;
  gap: 30px;
  padding: 55.5px 0;
  align-items: flex-start;
  justify-content: center;
  padding: 60px 0 51px 0;
}

.footer {
  max-width: 1200px;
  min-width: 320px;
  display: flex;
  flex-direction: wrap;
  flex-direction: column;
  margin: 0 auto;
  gap: 70px;
  align-items: center;
  &__logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    color: $colorWhite;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
  &__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.714;
    color: $colorWhite;
    padding-top: 20px;
    transition: color $cubic $duration;
  }
  &__contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color $cubic $duration;
    text-decoration: none;
    text-align: center;
    &:hover,
    &:focus {
      color: $MainColor;
    }
  }
  &__list {
    list-style: none;
  }
  &__logo-blue {
    color: $MainColor;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 51px;
    &__logo {
      margin-bottom: 20px;
    }
    &__contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__address {
      font-style: normal;
      margin-bottom: 9px;
    }
    &__link {
      margin-bottom: 9px;
    }
    &__socials {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      padding-right: auto;
    }
    &__social-list {
      margin-bottom: 0;
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    &__container {
      gap: 70px;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }
    &__contacts {
      align-items: flex-start;
    }
    &__socials {
      margin-top: 12px;
    }
  }
}
