.join-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $colorWhite;
  margin-top: 10px;
  &__list {
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    list-style: none;
    & a:focus svg {
      background: $MainColor;
    }
  }
  &__svg {
    fill: $colorWhite;
    background: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color $cubic $duration;
    &:hover {
      background: $MainColor;
    }
  }
}

@media screen and (max-width: 767px) {
  .join-us {
    text-align: center;
  }
}
