.backdrop {
  position: fixed;
  width: 528px;
  height: 581px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(000, 000, 000, 0.2);
  opacity: 1;
  transition: opacity 0.5s linear, visibility 0.5s linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.5s linear, visibility 0.5s linear;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.accept {
  position: relative;
  padding-left: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $colorGrey;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: $colorWhite;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  align-items: center;
  & svg {
    fill: #000000;
  }
  &__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: $colorWhite;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color $duration $cubic, transform $duration $cubic;
    &:hover {
      background-color: $colorGrey;
      transform: scale(1.25);
    }
  }
  &__heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: rgba(33, 33, 33, 1);
    text-align: center;
  }
  &__input {
    display: block;
    padding: 12px 0 12px 34px;
    width: 448px;
    height: 40px;
    margin-top: 4px;
    border-radius: 4px;
    border: rgba(33, 33, 33, 0.2) 1px solid;
    margin-bottom: 10px;
    transition: $duration $cubic;
    &:hover,
    :focus {
      border: rgba(33, 150, 243, 1) 1px solid;
      box-shadow: none;
      outline: none;
    }
    &-comment {
      display: block;
      resize: none;
      padding-top: 4px;
      width: 448px;
      height: 120px;
      margin-top: 4px;
      border-radius: 4px;
      border: rgba(33, 33, 33, 0.2) 1px solid;
      transition: $duration $cubic;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
      padding: 12px 16px;
      margin-bottom: 20px;
      &:hover,
      :focus {
        border: rgba(33, 150, 243, 1) 1px solid;
        box-shadow: none;
        outline: none;
      }
    }
    &-checkbox:checked + .modal__icon-checked {
      background-color: $MainColor;
      border: none;
      background-image: url(../images/icons.svg/#icon-icon-check);
    }
  }
  &__label {
    position: relative;

    &--text {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: $colorGrey;
      margin-top: 10px;
      margin-bottom: 0;
    }
    &:focus-within > .modal__icon,
    :hover > .modal__icon {
      fill: $MainColor;
    }
  }
  &__icon {
    position: absolute;
    fill: #212121;
    left: 14px;
    bottom: 42px;

    &-checked {
      border: 2px solid #212121;
      border-radius: 2px;
      fill: $colorWhite;
      margin-right: 8px;
    }
  }
  &__check {
    color: rgba(33, 150, 243, 1);
  }
  &__submit {
    margin: 30px 124px 0px 124px;
    width: 200px;
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    background: $MainColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: $colorWhite;
    border: 0;
    cursor: pointer;
    transition: background-color $cubic 1s, color $cubic 1s;
  }
}
