.newsletter {
  margin-left: 15px;
  &__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    box-sizing: border-box;
    background-color: $backgroundSecondary;
    color: $colorWhite;
    padding: 15px 16px;
    margin: 0 12px 20px 0;
  }
  &__button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: $MainColor;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 0 10px 42px;
    text-align: left;
    letter-spacing: 0.06em;
    color: $colorWhite;
    align-items: center;
    border: 0;
    position: relative;
    cursor: pointer;
    transition: background-color $cubic 1s, color $cubic 1s;
    &:hover {
      background-color: #f5f4fa;
      color: $MainColor;
      svg {
        fill: $MainColor;
      }
    }
    &:focus {
      background-color: #f5f4fa;
      color: $MainColor;
      svg {
        fill: $MainColor;
      }
    }
  }
  &__svg {
    fill: $colorWhite;
    position: absolute;
    left: 148px;
    bottom: 13px;
    transition: fill $cubic 1s;
  }
  &__join-us {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $colorWhite;
    margin-top: 10px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter__join-us > form {
    margin: 0px 202px;
    &__textfield {
      min-width: 200px;
      width: 450px;
    }
  }
}

@media screen and (max-width: 767px) {
  .newsletter__input {
    width: 450px;
  }
}
