.section {
  padding: 94px 0;
  &__team {
    @extend .section;
    background-color: rgba(245, 244, 250, 1);
  }
  &__services {
    width: 1200px;
    @extend .section;
    margin: 0 auto;
  }
  &__products {
    margin: 0 auto;
    padding: 0;
  }
}
