.section__strength {
  width: 1170 px;
  padding-top: 94px;
  max-width: 1200px;
  min-width: 320px;
}
.strength {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  list-style: none;

  &__svg {
    background-color: #f5f4fa;
    height: 120px;
    width: 270px;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $colorGrey;
  }
}

@media screen and (min-width: 768px) {
  .strength {
    &__svg {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f5f4fa;
      width: 100%;
      height: 120px;
      border-radius: 4px;
    }
    & > li {
      flex-basis: calc((100% - 30px * 1) / (1 + 1));
    }
    &__heading {
      text-align: justify;
    }
  }
}

@media screen and (min-width: 1200px) {
  .strength {
    flex-wrap: nowrap;
    margin: 0 auto;
    & > li {
      display: flex;
      flex-direction: column;
    }
    &__svg {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f5f4fa;
      width: 270px;
      height: 120px;
      border-radius: 4px;
    }
  }
}
