.container__team {
  max-width: 1200px;
  padding: 0 15px;
  flex-direction: column;
}

.team {
  &__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-top: 0;
  }
  &__photo {
    width: 100%;
    height: auto;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    & > li {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      background: $colorWhite;
      min-width: 270px;
      border-radius: 0px 0px 4px 4px;
      & > p {
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #757575;
      }
    }
  }
  &__social {
    display: flex;
    gap: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 30px;
    list-style: none;
    & a {
      fill: $colorGrey;
      background-color: $colorWhite;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:focus svg {
        background-color: $MainColor;
        fill: $colorWhite;
      }
    }
  }
  &__svg {
    fill: rgba(175, 177, 184, 1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color $cubic $duration, fill $cubic $duration;
    & a:hover {
      fill: $colorFill;
      background-color: $colorWhite;
    }
    &:hover {
      background-color: $MainColor;
      fill: $colorWhite;
    }
  }
  &__person {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: #0c0b0b;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .team {
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      margin: 0;
      & > li {
        flex-basis: calc((100% - 30px * 1) / 2);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .team {
    margin: 0 auto;

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      margin: 0;
    }
    &__heading {
      text-align: center;
    }
  }
}
